@font-face {
    font-family: "db-pixel";
    src: url(db-pixel/db-pixel.otf);
}

* {
    font-family: "db-pixel";
}

body {
    background-color: rgb(43, 40, 50);
}

#title{
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

h1 {
    color: floralwhite;
    font-size: 300%;
}

/* Content Style */
#content {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 60% 40%;
}

#controls{
    color: floralwhite;
    border: solid 2px white;
    padding: 2%;
}

#selectCtrl {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

#rangeCtrl {
    width: 50%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-content: left;
}

label{
    color: floralwhite;
    font-size: 12pt;
}

/* Content Style */

/* Range Style */
input[type="range"]{
    margin-bottom: 5%;
    outline: none !important;
    appearance: none;
    cursor: pointer;
    height: 10px;
    box-shadow: 3px 3px 3px 0 rgba(100, 100, 100, 1);
}
    /* Chrome */
input[type="range"]::-webkit-slider-thumb {
    background-color: rebeccapurple;
    border: 0;
}
    /* FireFox */
input[type="range"]::-moz-range-thumb {
    background-color: rebeccapurple;
    height: 175%;
    width: 5%;
    border: 0;
}
input[type="range"]::-moz-range-progress {
    background-color: mediumslateblue;
    height: 100%;
}
input[type="range"]:hover{
    border: 2px solid blueviolet;
    box-shadow: 3px 3px 3px 0 rgba(200, 0, 250, 1);
}
input[type="range"]:hover::-moz-range-thumb {
    border: 2px solid blueviolet;
    box-shadow: 3px 3px 3px 0 rgba(200, 0, 250, 1);
}
input[type="range"]::-moz-range-track {
  background-color: floralwhite;
  border-radius:50%;
  border:none;
  height: 100%;
}
/* Range Style */

/* SelectInput Style */
select{
    outline: none !important;
    height: 30px;
    background-color: floralwhite;
    border: 0;
    box-shadow: 3px 3px 3px 0 rgba(100, 100, 100, 1);
}
select:hover{
    border: 2px solid blueviolet;
    box-shadow: 3px 3px 3px 0 rgba(200, 0, 250, 1);
}
select:active{
    background-color: lightgrey;
}
option{
    color: white;
}
/* SelectInput Style */

/* Button style */
button{
    outline: none !important;
    appearance: none;
    width: 15%;
    height: 30px;
    margin-top: 2%;
    border: 0;
    background-color: floralwhite;
    box-shadow: 3px 3px 3px 0 rgba(100, 100, 100, 1);
}
button:hover{
    border: 2px solid blueviolet;
    box-shadow: 3px 3px 3px 0 rgba(200, 0, 250, 1);
}
button:active{
    background-color: lightgrey;
}
/* Button style */

/* Canvas Style */
#monitor{
    color: floralwhite;
    padding: 2%;
}
#oscInfo{
    display: grid;
    grid-template-columns: 50% 50%;
}

canvas {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    border: solid 2px white;
    background-color: black;
}
/* Canvas Style */

/* Keyboard Style */
#keyboard{
    width: 100%;
    margin-top: 5%;
    background-color: rgb(75, 75, 75);
    border: 2px solid blueviolet;
    box-shadow: 3px 3px 3px 0 blueviolet;
}

#keyboardInfo{
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 0 5px 0 0 rgba(50, 50, 50, 1);
    background-color: dimgray;

}

#keys{
    margin-top: 2%;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.key{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 1%;
    user-select: none;
}

.whiteKey{
    width: 10%;
    background-color: white;
    border-bottom: 10px solid silver;
    color: gray;
    z-index: 1;
    margin-left: -2%;
}

.blackKey{
    width: 5%;
    background-color: rgb(40, 40, 40);
    border-bottom: 10px solid rgb(20, 20, 20);
    height: 60%;
    margin-left: -2%;
    z-index: 2;
    color: floralwhite;
}

.keyboardKeys .whiteKey:nth-child(5){
    margin-right: 3%;
}

.blackPressed{
    background-color: rgb(20, 20, 20);
    height: 65%;
    border-bottom: none;
}

.whitePressed{
    background-color: lightgray;
    border-bottom: none;
}
/* Keyboard Style */
